<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs110"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cs110.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cs110.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
        </activity>
        <activity
            android:name="com.example.cs110.BAC"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.cs110.BACFinal"
            android:label="@string/title_activity_bacfinal" >
        </activity>
        <activity
            android:name="com.example.cs110.Tools"
            android:label="@string/title_activity_tools" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.Pairings"
            android:label="@string/title_activity_pairings" >
        </activity>
        <activity
            android:name="com.example.cs110.Locations"
            android:label="@string/title_activity_locations" >
        </activity>
        <activity
            android:name="com.example.cs110.Education"
            android:label="@string/title_activity_education" >
        </activity>
        <activity
            android:name="com.example.cs110.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.cs110.SampleActivity"
            android:label="@string/title_activity_sample" >
        </activity>
        <activity
            android:name="com.example.cs110.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.cs110.library.WineLibrariesActivity"
            android:label="@string/title_activity_wine_libraries" >
        </activity>
        <activity
            android:name="com.example.cs110.library.DigitalCellarActivity"
            android:label="@string/title_activity_digital_cellar" >
        </activity>
        <activity
            android:name="com.example.cs110.library.FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name="com.example.cs110.library.WishlistActivity"
            android:label="@string/title_activity_wishlist" >
        </activity>
        <activity
            android:name="com.example.cs110.library.SearchWinesActivity"
            android:label="@string/title_activity_search_wines" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.FoodtowineMeat"
            android:label="@string/title_activity_foodtowine_meat"
            android:parentActivityName="com.example.cs110.pairing.FoodtoWine" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs110.FoodtoWine" />
        </activity>
        <activity
            android:name="com.example.cs110.pairing.FoodtoWine"
            android:label="@string/title_activity_foodto_wine" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.FoodtowinePasta"
            android:label="@string/title_activity_foodtowine_pasta"
            android:parentActivityName="com.example.cs110.pairing.FoodtoWine" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs110.pairing.FoodtoWine" />
        </activity>
        <activity
            android:name="com.example.cs110.pairing.Foodtowine_Veggie"
            android:label="@string/title_activity_foodtowine__veggie" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.FoodtowineCheese"
            android:label="@string/title_activity_foodtowine_cheese"
            android:parentActivityName="com.example.cs110.pairing.FoodtowineMeat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs110.pairing.FoodtowineMeat" />
        </activity>
        <activity
            android:name="com.example.cs110.pairing.WinetoFood"
            android:label="@string/title_activity_wineto_food" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.WinetofoodWhite"
            android:label="@string/title_activity_winetofood_white" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.WinetofoodRed"
            android:label="@string/title_activity_winetofood_red" >
        </activity>
        <activity
            android:name="com.example.cs110.pairing.WinetofoodOther"
            android:label="@string/title_activity_winetofood_other" >
        </activity>
        <activity
            android:name="com.example.cs110.TypesQuiz"
            android:label="@string/title_activity_types_quiz1" >
        </activity>
        <activity
            android:name="com.example.cs110.QuizResult"
            android:label="@string/title_activity_quiz_result1" >
        </activity>
        <activity
            android:name="com.example.cs110.library.DisplaySearch"
            android:label="@string/title_activity_display_search" >
        </activity>
        <activity
            android:name="com.example.cs110.library.ViewWine"
            android:label="@string/title_activity_view_wine" >
        </activity>
    </application>

</manifest>